{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/stories.css" />

    <!-- we need the path data polyfill and the drawing code -->
    <script src="{{ THEME_STATIC_DIR }}/js/path-data-polyfill.js"></script>
    <script src="{{ THEME_STATIC_DIR }}/js/drawing-generator.js"></script>
{% endblock %}

{% block content %}
    {% for page in pages %}
        {% if page.slug == 'agenda' %}

            {% for day in page.days %}
                {% for date, day in day.items() %}

                    <section class="day">

                    <h2>{{ day.day_name }}</h2>

                        {% for event in day.events %}
                            {% for event_name, event_info in event.items() %}
                                <article class="{{ day.day_name }}">

                                    <div class="layer text-layer">
                                        
                                        <header>
                                            <h2 class="event__name">
                                                <span>{{ event_name|replace(" -", "<br>-")|replace(" &", "<br>&") }}</span>
                                            </h2>
                                            
                                            {% if event_info.type and event_info.type!='live' %}
                                            <p class="event__type-wrapper">
                                                <span class="event__type">{{ event_info.type }}</span>
                                            </p>
                                            {% endif %}
                                            <!-- <p class="event__festival">
                                                parts of Oscillation Public Address, <br/>a festival by Q-O2
                                            </p> -->
                                        </header>

                                        <footer>
                                            <div class="event__date">
                                                {{ date }} → {{ event_info.time|replace(" / on appointment", "")|replace(" - throughout", "")|replace(" (ongoing)", "")  }}
                                            </div>
                                            {% if not 'TBA' in event_info.location %}
                                                <div class="event__venue">{{ event_info.location }}</div>
                                            {% endif %}
                                            {% if event_info.streamed==True %}
                                            <p class="event__link">
                                                and broadcast on <a href="#">oscillation-festival.be</a>
                                            </p>
                                            {% else %}
                                            <p class="event__link">
                                                <a href="#">oscillation-festival.be</a>
                                            </p>
                                            {% endif %}
                                        </footer>
                                        
                                        
                                    </div>
                            
                                    <div class="layer shape-layer">
                                        <svg viewbox="0 0 1000 1000" id="sonic-crowd-network__svg" class="svg-comm" data-artists_names="{{ event_name }}" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d=""/>
                                        </svg>
                                    </div>

                                </article>
                            {% endfor %}
                        {% endfor %}
                    </section>
                {% endfor %}
            {% endfor %}

        {% endif %}
    {% endfor %}

    <script>
        $('.svg-comm').each(function(){

            let svg = this;
            let path = svg.getElementsByTagName('path').item(0);
            let artist_name = this.dataset.artists_names;
            let real_artist_name = artist_name.split(" - ")[0];
            let n = real_artist_name.length;

            let d = random_path(n);
            path.setPathData(d);
        })
    </script>

{% endblock %}