
    <details 
        id="{{ page.slug }}__section" class="modular-section overflow-{{ page.overflow }}"
        {% if page.default_state == 'on' %}open{% elif page.default_state == 'disabled'%}disabled tabindex="-1"{% endif %}>

        <summary class="section-title">
            <span>&nbsp;{{ page.title }}&nbsp;</span>
        </summary>

        <div class="section-content">

            {% if page.slug == 'agenda' %}
                {% include 'partials/agenda.html' %}
            {% elif page.slug == 'blog' %}
                {{ page.content }}
                {% include 'partials/blog.html' %}
            {% elif page.slug == 'specials' %}
                {{ page.content }}
                {% include 'partials/specials.html' %}
            {% elif page.slug == 'line-up' %}
                <ul>
                {% for artist in page.artists %}
                    <li>{{ artist }}</li>
                {% endfor %}
                </ul>
                {{ page.content }}
            {% else %}
                {{ page.content }}
            {% endif %}

        </div>

    </details>
