
/* SONIC-CROWD-NETWORK
======================================================== */

#shape__section .section-content > .svg-wrapper{
    /* 
    this container position it absolutetly 
    and create a right translation proportional to the number of column
    */
    
    position: absolute;
    top: var(--border-width); 
    bottom: 0;
    left: 0;
    width: 125%;
    
    max-width: 100vw;
    
    /* == 66.66 when in 3 col and 0 when in 1 col */
    --ratio: calc(100vw - 100%);
    /* == 1 when in 3 col and 0 when in 1 col */
    --remap-ratio: calc(var(--ratio) / calc(calc(100 / 3) * 2));
    --max-decal: 7;
    
    transform: translateX(calc(var(--max-decal) * var(--remap-ratio)));
    
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}

.svg-wrapper > div{
    /* 
        isn't too stretched when full screen
    */

    max-width: 80vw;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#sonic-crowd-network__svg{
    display: block;
    height: 100%;
    width: 100%;


    background: radial-gradient(circle closest-side, var(--c-active), rgba(255,0,0,0) 66%);
}

#sonic-crowd-network__svg path{
    fill: none;
    vector-effect: non-scaling-stroke;

    font-size: var(--fs-clamp-big-safe);
    font-size: var(--fs-clamp-big);
    stroke: var(--c-stroke);
    stroke-width: var(--stroke-width);
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
}

#sonic-crowd-network__infos{
    /* position: absolute;
    bottom: 25%;
    left: 0; */
    
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.5em;
    border-radius: 0.5em;
    border: var(--border);
    border-top-color: transparent;
    border-bottom-color: transparent;

    position: relative;
    z-index: 99;
}


/* ANIMATION
======================================================== */

#sonic-crowd-network__svg path{
    transition: 0.25s stroke;
}

#sonic-crowd-network__svg.updating path{
    stroke: var(--c-stroke-change);
}


/* RESPONSIVENESS
======================================================== */

@media only screen and (max-width: 920px) {

    :root{
        --mobile-opening-screen: 80vh;
    }

    #shape__section summary{
        display: none;
    }
    #shape__section .section-content{
        position: relative;
        height: var(--mobile-opening-screen);
        overflow: hidden;
    }

    #shape__section .section-content > .svg-wrapper {
        width: auto;
        max-width: none;
        left: -10%;
        right: -10%;
        transform: none;
        overflow: hidden;
    }

    .svg-wrapper > div{
        max-width: none;
    }

    #sonic-crowd-network__infos{
            margin-top: 0.5rem;
            margin-left: 0rem;
    }
}

/* @media only screen and (max-width: 600px) {

    #sonic-crowd-network__infos{
        left: 10%;
    }
} */