
:root{
    /* redefining the variable we need to change */
    --fs-clamp-big: 105px;
    --fs-main: 60px;
    --fs-meta-small: 1.45em;

    --border-width: 3px;

    --c-active: white;
    --c-stroke: white;

    --clr-day1: hsl(230, 10%, 84%);
    --clr-day2: var(--clr-day1);

    --clr-day3: hsl(26, 50%, 76%);
    --clr-day4: hsl(250, 100%, 86%);
    --clr-day5: hsl(280, 100%, 87%);
    --clr-day6: hsl(1, 100%, 74%);

    /* (1200px / 96dpi) * 2,56 = */
    --page-w: 32cm;
    --page-h: 32cm;

    /* fb size */
    /* 
    width: 1920px;
    height: 1005px; 
    */
    /* --page-w: 1920px;
    --page-h: 1005px; */

    --fs-clamp-big: 110px;
    --fs-main: 65px;
    --fs-meta-small: 1.5em;
}

/* create a grid */
@media screen {
    body{
        background-color: white;
        margin: 2em;
    
        display: flex;
        gap: 2em;
    }
    
    .day{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}
@media print {
    body{
        margin: 0;
    }
    .day{
        display: contents;
    }
    .day > h2{
        display: none;
    }
}

/* colors */
article.Tuesday{
    --c-back: var(--clr-day1);
}
article.Wednesday{
    --c-back: var(--clr-day2);
}
article.Thursday{
    --c-back: var(--clr-day3);
}
article.Friday{
    --c-back: var(--clr-day4);
}
article.Saturday{
    --c-back: var(--clr-day5);
}
article.Sunday{
    --c-back: var(--clr-day6);
}

article{
    --pad: 50px;
    background: var(--c-back);
    overflow: hidden;
    width: var(--page-w);
    height: var(--page-h);
    position: relative;

    box-sizing: border-box;
    
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/break-after */
    break-after: page;
    page-break-inside: avoid;
}

.layer{
    position: absolute;
    inset: 0;
}

/* text compo */
.text-layer{
    padding: var(--pad);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;

}


/* remove stream dot */
.streamed-pre::before, .streamed-post::after {
	content: none;
}
a{
    color: currentColor;
    text-decoration-thickness: var(--border-width);
}

/* modifying agenda typography */
.event__name{
    font-size: var(--fs-clamp-big);
    font-family: "MetaBouba";
    line-height: 1.1;

    position: relative;
    z-index: 20;
}
.event__type-wrapper{
    margin-top: 0.25rem;
}
.event__type{
    margin-left: 0;
    position: relative;
    z-index: 20;
}
.event__date {
    font-family: 'MetaBouba';
    font-size: var(--fs-meta-small);
    margin-right: 0;

    display: block;
    
    position: relative;
    z-index: 20;
}
.event__venue{
    line-height: 87px;
}
.event__day{
    display: block;
    font-size: var(--fs-kr-up);
    font-family: 'Karrik';
}

.event__festival{
    margin-top: 0.5rem;
    opacity: 0.5;
}



/* SONIC-CROWD-NETWORK
======================================================== */

.shape-layer{
    position: absolute;

    --decal: 0px;
    top: var(--decal); bottom: var(--decal);
    left: 0;
    pointer-events: none;
}

#sonic-crowd-network__svg{
    background: radial-gradient(circle closest-side, var(--c-active), rgba(255,0,0,0) 90%);
}